<h1>Welcome to Finding Furever!</h1>
<h3>The site where pets find their furever home</h3>

<p>Finding furever works by taking the shelters in your area and showing you the adoptable pets in each shelter</p>
<p>Looking for a pet?
<%= link_to "Signup Now!", new_user_path %> 
Already a member? 
<%= link_to "Login now!", login_path %> or you can <%= link_to "Login with your Github Account", '/auth/github' %>
</p>
<p>Want to upload your shelter and associated animal?
<%= link_to "Signup Here", new_admin_path %>
</p>