

<div><h1> View the Pets </h1></div>
<span class="petsHeader">
<%= link_to "Click here to filter by dogs", pets_dogs_path %> </span> 
<span class="petsHeader">
<%= link_to "Click here to filter by cats", pets_cats_path %></p>
</span>
<%= render 'iterate_pets' %>